:root {
  --main-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;

  --main-text-color: #757575;
  --dark-text-color: #212121;
  --light-text-color: #ffffff;
  --active-text-color: #2196f3;
  --lightgrey-background: #f5f4fa;
  --dark-background: #2f303a;
  --icon-background: #afb1b8;

  --card-set-gap: 30px;

  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--main-font);
  letter-spacing: 0.03em;
  font-size: 14px;
  color: var(--main-text-color);
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.link {
  display: block;
  text-decoration: none;

  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.icon {
  transition-property: fill;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.btn {
  font-family: var(--main-font);
  border: inherit;
  cursor: pointer;

  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

/*Header*/
.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;

  color: var(--dark-text-color);
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo__color {
  color: var(--active-text-color);
}

.header-nav__list,
.header-info {
  display: flex;
}

.header-info {
  margin-left: auto;
}

.header-nav__item:not(:last-child),
.header-info__item:not(:last-child) {
  margin-right: 50px;
}

.header__link {
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--dark-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color;
}

.header__link--current {
  position: relative;
}

.header__link--current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;

  position: absolute;
  bottom: -1px;

  background: var(--active-text-color);
  border-radius: 2px;
}

.info__link {
  color: var(--main-text-color);
}

.header__link:hover,
.header__link:active,
.header__link:focus,
.footer__link:hover,
.footer__link:active,
.footer__link:focus,
.header__link--current {
  color: var(--active-text-color);
}

.header-info__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__icon {
  margin-right: 10px;
  fill: currentColor;
}

/*Main*/

/*Order*/
.order {
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;

  text-align: center;

  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.order__heading {
  margin-bottom: 30px;

  color: var(--light-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.order__button {
  width: 200px;
  height: 50px;

  color: var(--light-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;

  background-color: var(--active-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition-property: background-color, opacity;
}

.order__button:hover,
.order__button:active,
.order__button:focus {
  opacity: 0.8;
}

/*Our qualities*/
.qualities {
  padding-bottom: 0;
}

.qualities__heading {
  margin-bottom: 10px;

  color: var(--dark-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.qualities__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.qualities__item {
  flex-basis: calc((100% - 4 * 30px) / 4);
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.qualities__box {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  background: var(--lightgrey-background);
  border-radius: 4px;
}

.qualities__description {
  line-height: 1.71;
}

/*Our occupations*/

.heading {
  margin-bottom: 50px;

  color: var(--dark-text-color);

  font-size: 36px;
  line-height: 42px;
  text-align: center;
}

.occupations__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.occupations__item {
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);

  position: relative;
}

.occupations__image {
  display: block;
}

.occupations__content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;

  position: absolute;
  bottom: 0;

  background: rgba(47, 48, 58, 0.8);
}

.occupations__description {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--light-text-color);
}
/*Team*/

.team {
  background-color: var(--lightgrey-background);
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.team__item {
  flex-basis: calc((100% - 4 * 30px) / 4);
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.team__image {
  display: block;
}

.team__content {
  padding-top: 30px;
  padding-bottom: 30px;

  text-align: center;

  background-color: var(--light-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__heading {
  margin-bottom: 10px;

  color: var(--dark-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team__description {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
}

.social {
  display: inline-flex;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  transition-property: background-color;
}

.social__link:hover,
.social__link:active,
.social__link:focus {
  background-color: var(--active-text-color);
}

.social__icon {
  fill: var(--icon-background);
}

.social__link:hover .social__icon,
.social__link:active .social__icon,
.social__link:focus .social__icon {
  fill: var(--light-text-color);
}

/*Clients*/
.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.clients__item {
  flex-basis: calc((100% - 6 * 30px) / 6);
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.clients_link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition-property: border;
}
.clients_link:hover,
.clients_link:active,
.clients_link:focus {
  border-color: var(--active-text-color);
}

.clients__icon {
  fill: var(--icon-background);
}

.clients_link:hover .clients__icon,
.clients_link:active .clients__icon,
.clients_link:focus .clients__icon {
  fill: var(--active-text-color);
}

/*Footer*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--dark-background);
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer__content:first-child {
  margin-right: 70px;
}

.footer__content:nth-child(2) {
  margin-right: 93px;
}

.footer__logo {
  margin-bottom: 20px;

  color: var(--light-text-color);
}

.footer__address {
  color: var(--light-text-color);

  font-style: normal;
  line-height: 1.71;
}

.footer__text {
  margin-bottom: 9px;
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__link {
  color: rgba(255, 255, 255, 0.6);
}

.footer__socialtext {
  margin-bottom: 20px;

  font-weight: 700;
  text-transform: uppercase;
  color: var(--light-text-color);
}

.footer .social__link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .social__link:hover,
.footer .social__link:active,
.footer .social__link:focus {
  background-color: var(--active-text-color);
}

.footer .social__icon {
  fill: var(--light-text-color);
}

.footer__form {
  display: flex;
  align-items: baseline;
}

.footer__input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background: var(----dark-background);

  color: var(--light-text-color);

  outline: none;
  cursor: pointer;
}

.footer__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer__button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__icon {
  margin-left: 10px;
}

/*Portfolio*/
.portfolio__list {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.portfolio__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__button {
  padding: 6px 22px;

  color: var(--dark-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  background-color: var(--lightgrey-background);
  border-radius: 4px;

  transition-property: background-color, color, filter;
}

.portfolio__item:first-child .portfolio__button,
.portfolio__button:hover,
.portfolio__button:active,
.portfolio__button:focus {
  color: var(--light-text-color);

  background-color: var(--active-text-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.projects__item {
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.projects__link {
  transition-property: box-shadow;
}

.projects__link:hover,
.projects__link:active,
.projects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__image {
  display: block;
}

.projects-box {
  position: relative;
  overflow: hidden;
}

.projects-box__description {
  height: 100%;
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;

  font-size: 18px;
  line-height: 1.56;
  color: var(--light-text-color);

  background: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);

  transition-property: transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.projects__link:hover .projects-box__description,
.projects__link:active .projects-box__description,
.projects__link:focus .projects-box__description {
  transform: translateY(0%);
}

.projects__content {
  padding: 20px 24px;

  border: 1px solid #eeeeee;
  border-top: none;
}

.projects__heading {
  margin-bottom: 4px;

  color: var(--dark-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects__description {
  color: var(--main-text-color);

  font-size: 16px;
  line-height: 1.88;
}

/*Backdrop*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);

  transition-duration: opacity;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  height: 581px;
  padding: 40px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: var(--light-text-color);

  transition-duration: transform;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  position: absolute;
  top: 8px;
  right: 8px;

  background: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal__btn:hover .icon,
.modal__btn:active .icon,
.modal__btn:focus .icon {
  fill: var(--active-text-color);
}

/*Form*/
.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--dark-text-color);
}

.modal__label {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal__field {
  position: relative;
  margin-bottom: 10px;
}

.modal__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  cursor: pointer;
  outline: none;

  transition-property: border-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.modal__input:hover,
.modal__input:focus {
  border-color: var(--active-text-color);
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 14px;

  transform: translateY(-50%);
}

.modal__input:hover + .modal__icon,
.modal__input:focus-within + .modal__icon {
  fill: var(--active-text-color);
}

.modal__comments {
  height: 120px;
  width: 100%;

  margin-bottom: 20px;
  padding-top: 12px;
  padding-left: 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  cursor: pointer;
  resize: none;
  outline: none;
}

.modal__comments:hover,
.modal__comments:focus {
  border: 1px solid var(--active-text-color);

  transition-property: border-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.modal__label-check {
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: center;

  cursor: pointer;
}

.modal__label-check::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;

  border: 1px solid var(--dark-text-color);
  border-radius: 2px;
}

.modal__checkbox:checked + .modal__label-check::before {
  border: 1px solid var(--active-text-color);
  background-color: var(--active-text-color);
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.form__link {
  color: var(--active-text-color);
}

.form__button {
  display: block;
  margin: 0 auto;
}
